name = "status-page"
main = "./src/worker/index.ts"
compatibility_date = "2025-08-15"
workers_dev = true
route = "status.starsquare.co.uk/*"
kv_namespaces = [ { binding = "KV_STORE", id = "override_me" } ]

[site]
bucket = "./dist/client"

[dev]
port = 3000

[env.test]
route = "status-test.starsquare.co.uk/*"

[env.production]

[env.production.triggers]
crons = [
  # Check monitors
  "*/2 * * * *",
  # Update remote csv monitors
  "*/10 * * * *",
]
