@import 'tailwindcss';
@source "./src/**/*.{js,ts,jsx,tsx}";

@plugin "@iconify/tailwind4" {
  prefix: 'i';
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

body {
  @apply bg-slate-50;
}

a {
  @apply text-blue-500 hover:text-blue-400 hover:underline transition-all;
}
