name: Deploy

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    env:
      ENV_NAME: ${{ github.event_name == 'push' && 'production' || 'test' }}
    environment:
      name: ${{ github.event_name == 'push' && 'production' || 'test' }}
      url: ${{ steps.deployment-url.outputs.url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get route from wrangler
        uses: sebrollen/toml-action@v1.2.0
        id: route
        with:
          file: wrangler.toml
          field: ${{ github.event_name == 'push' && 'route' || 'env.test.route' }}

      - name: Get deployment URL
        id: deployment-url
        run: |
          # route is in the format: hostname.example.com/*
          echo "url=https://$(cut -f1 -d/ <<< "${{ steps.route.outputs.value }}")" >> $GITHUB_OUTPUT

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v5
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: |
          echo 'SECRET_SLACK_WEBHOOK_URL = ""'    > .dev.vars
          echo 'SECRET_DISCORD_WEBHOOK_URL = ""' >> .dev.vars
          echo 'SECRET_TELEGRAM_CHAT_ID = ""'    >> .dev.vars
          echo 'SECRET_TELEGRAM_API_TOKEN = ""'  >> .dev.vars
          npm run build

      - name: Deploy
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          packageManager: pnpm
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          environment: ${{ env.ENV_NAME }}
          preCommands: |
            wrangler kv namespace create $KV_NAMESPACE || true
            echo "[[env.${{ env.ENV_NAME }}.kv_namespaces]]" >> wrangler.toml
            echo "  binding = \"KV_STORE\"" >> wrangler.toml
            echo "  id = $(pnpm wrangler kv namespace list | jq --arg ns $KV_NAMESPACE 'map(select(.title == $ns))[].id')" >> wrangler.toml
          secrets: |
            SECRET_SLACK_WEBHOOK_URL
            SECRET_DISCORD_WEBHOOK_URL
        env:
          KV_NAMESPACE: status-page-KV_STORE
          SECRET_SLACK_WEBHOOK_URL: ${{ secrets.SECRET_SLACK_WEBHOOK_URL || 'default' }}
          SECRET_DISCORD_WEBHOOK_URL: ${{ secrets.SECRET_DISCORD_WEBHOOK_URL || 'default' }}
